:root {
  // text colors
  --white-color: #ffffff;
  --text-color: #000000;
  // first-bg colors   and   button-default-bg-color--hover
  --bg-color: #06071b;
  // button background colors
  --button-default-bg-color: linear-gradient(
    90.03deg,
    #00c5eb -1.97%,
    #b544fe 89.43%
  );
}
