.container {
  /**
    |==============
    | mobile screen
    |==============
  */
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  // margin-left: auto;
  // margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
  /**
    |==============
    | tablet screen
    |==============
  */
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  /**
    |============================
    | desktop screen
    |============================
  */
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding: 40px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    padding: 80px 0;
  }
}

/*.title-h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    font-size: 20px;
    line-height: 1.21;
  }
}*/
