.features {
  background-color: var(--white-color);
  background-repeat: no-repeat;

  @media screen and (min-width:320px) and(max-width:767px) {
    background-size: auto, cover,cover;

  background-position: 50% 25%, 0 -540px, 0 340px;

  background-image:url(../images/features/img_sm.png), url(../images/features/img-top-mob_sm.png), url(../images/features/img-bottom_sm.png) ;
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
      background-image:
    url(../images/features/img_sm@2x.png), url(../images/features/img-top-mob_sm@2x.png),  url(../images/features/img-bottom_sm@2x.png) ;
    }
  }

      @media screen and (min-width: 1280px) {

        background-position: 50% 68%, 100% -80%, 0 -70%;

        background-image:
        url(../images/features/img_lg.png), url(../images/features/img_lg-top.png), url(../images/features/img-big_lg.png);

        @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
          background-image:
        url(../images/features/img_lg@2x.png), url(../images/features/img_lg-top@2x.png),  url(../images/features/img-big_lg@2x.png) ;
        }
        }
    }


    .features__container {

      @media screen and (min-width: 768px) and (max-width: 1279px) {
        background-repeat: no-repeat;
        background-position: 0 52%;
         background-image:
       url(../images/features/img_md.png);

     @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
          background-image:
        url(../images/features/img_md@2x.png);
       }
        }

    }

 .features__list {

      @media screen  and (min-width:768px) and (max-width:1279px) {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        }



      @media screen  and (min-width:1280px) {
      display: flex;
      flex-direction: column;
      margin-right: 152px;
      margin-left: 132px;
      margin-bottom: 80px;
      }
    }


    .features__list-one {
      margin-bottom: 24px;
      
      @media screen  and (min-width:768px) and (max-width:1279px) {
        margin-bottom: 80px;
        }
    }

   .features__last {
      @media screen and (min-width:768px) and (max-width: 1279px) {
        position: absolute;
        left: 0;
        bottom: 0;
        margin:0;
      }

    }

.features__title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;

  @media screen and (min-width:768px) {
    font-size: 24px;

  }

  @media screen and (min-width:1280px) {
    font-size: 24px;
    margin-bottom: 80px;
  }
}

.features__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 489px;

  @media screen  and (min-width:768px) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  @media screen and (min-width:1280px) {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 196px;
    margin-right: 196px;
    margin-bottom: 141px;

  }
}


.features__item:not(:last-child) {
  margin-bottom: 24px;
}

.features__item {

  @media screen and (min-width: 768px) {

   &:not(:first-child) {
    margin-top: 80px;
  }

  }

  @media screen and (min-width:768px) and (max-width: 1279px)  {

    width: 278px;
    margin-right: 60px;
    &:not(:last-child)
    {margin-bottom: 0;}

  }

}

.features__item-title {
  display: inline-flex;
   align-items: center;
   margin-bottom: 13px;
   font-size: 16px;
   line-height: 1.5;
}

.features__item-text {

  margin-left: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;

  @media screen and (min-width:1280px)  {
    width: 220px;

  }
}

.features__item-title:before {
  content: '';
   display: inline-flex;
   align-items: center;

    min-width: 28px;
    height: 28px;
    margin-right: 12px;
    background-image: url(../images/features/img-1.png);

    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
      background-image: url(../images/features/img-1@2x.png);
    }
}


.features__thumb {


  @media screen and (min-width:1280px) {
    display: flex;
    justify-content: space-between;
    gap: 80px;

  }

}
