.footer__text{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0em;
    color: var(--white-color);

}

.footer{
    
   padding-top:  22px;
   padding-right: 103px;
   padding-bottom: 22px;
   padding-left: 24px;

   border-top: 1px solid #FFFFFF;

}