.footer__text{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0em;
    color: var(--white-color);

}

.footer{
   padding:22px 24px;
   border-top: 1px solid #FFFFFF;
}