.head {
    margin-top: 20px;
    background: #06071B;
    z-index: 10;
}

.head__container {
    background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head__logo {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.21;
    color: #FFFFFF;
    margin: 14px 20px;
    @media screen and (min-width: 768px) {
        margin: 14px 32px;
    }
    @media screen and (min-width: 768px) {
        margin: 19px 16px;
    }
}

.head__list {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: #FFFFFF;
    @media screen and (min-width: 768px) {
        margin-right: 32px;
    }
    @media screen and (min-width: 768px) {
        margin-right: 16px;
    }
}

.head__link {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    & + .head__link {
        margin-left: 40px;
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.head__btn {
    border: none;
    background-color: none;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

@import './header.scss';
@import './hero.scss';
@import './burger-menu.scss';