.hero {
    background: #06071B;
    padding-top: 100px;
    background-position: right -107px top 30%, right -124px top 60%, right -96px bottom -78px, right -15px top -75px;
    background-repeat: no-repeat;
    background-size: 408px 422px, 422px 436px, 368px 267px, 400px 601px;
    background-image: url(../images/hero/img__sm.png), url(../images/hero/img-main__sm.png), url(../images/hero/hero-grad__sm.png), url(../images/hero/hero-sgrad__sm.png);
        @media (min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi), 
        (min-resolution: 2dppx) {
        background-image: url(../images/hero/img__sm@2x.png), url(../images/hero/img-main__sm@2x.png), url(../images/hero/hero-grad__sm@2x.png),
            url(../images/hero/hero-sgrad__sm@2x.png);
    } 

    
    @media screen and (min-width: 768px) {
        padding-top: 60px;
        // background-image: url(../images/hero/img_md.png);
        //     @media (min-device-pixel-ratio: 2),
        //     (min-resolution: 192dpi),
        //     (min-resolution: 2dppx) {
        //         background-image: url(../images/hero/img_md@2x.png);
        //     }
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 145px;
    }
}

.hero__tittle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 12px;
    @media screen and (min-width: 768px) {
        font-size: 40px;
        line-height: 1.2;
    }
}

.hero__subtittle {
    font-weight: 700;
    
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 28px;
        font-size: 20px;
        line-height: 1.2;
    }
}

.hero__list {
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
    }
}

.hero__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;

    color: #FFFFFF;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 1.18;
    }
}

.hero__btn {
    margin-bottom: 122px;
    @media screen and (min-width: 768px) {
        margin-bottom: 143px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 146px;
    }
}