.backdrop {
  // position: relative;
  // top: 0;
  // left: 0;

  width: 100%;
  height: 100%;
}

 .modal {


  position: relative;
  // position: absolute;
  // top: 50%;
  // left: 50%;

  outline: 2px solid green;
  max-width: 280px;
  width: 100%;

  padding: 48px 24px;

  @media screen and (min-width: 768px) {
    max-width: 568px;
    padding: 32px 40px;

  }

 }

 .modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;}

 .modal__title {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  margin-bottom: 24px;

  @media screen and (min-width:768px) {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 28px;

  }

 }

 .download__first {
  position: relative;
  height: 394px;

  background-image: linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
  border-radius: 6px;


  @media screen and (min-width:768px) {
    width: 233px;


  }

 }

 .download__list {
  margin-top: 20px;

 }

 .download__icon-one {
  fill: currentColor;
  margin-right: 4px;
  position: relative;
  top: 2px;

 }


 .download__icons {
  padding-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: #FFFFFF;

 }

 .download {
  position: relative;
  height: 394px;
  border-radius: 6px;
  background: var(--bg-color);

  @media screen and (min-width:768px) {
    width: 233px;

  }

    &::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background-image: linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
 }
}

 .downloads {
  display: flex;
  flex-direction: column;
  gap: 28px;


  @media screen and (min-width: 768px) {
  display: flex;
  flex-direction: row;

  gap:20px;
}
 }

 .download__title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
 }

 .download__item {
   display: flex;
   align-items: baseline;


  margin-left: 20px;
  margin-right: auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #FFFFFF;
  // text-align: left;



 }

 .download__item:not(:last-child) {
  margin-bottom: 12px;
 }


 .download__description {
  margin-top: 28px;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 32px;

  }

 }

 .characteristics {

  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 22px 0 20px;
  border-radius: 6px;
  margin: 2px;
  background: var(--bg-color);

  @media screen and (min-width:768px) {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

&::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background-image: linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
 }
}

 .characteristics__list {

  display: flex;
  flex-direction: column;




 }

 .border {

  border-bottom: 2px solid;


  border-image-source:  linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
  border-image-slice: 1;
  padding: 0;

  @media screen and (min-width: 768px) {
    border-right: 2px solid;
    border-image-source:  linear-gradient(90deg, #00c5eb -2%, #b544fe 90%);
    border-image-slice: 1;
    padding: 0;
   border-bottom: none;

  }

 }


 .characteristics__item {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;




  @media screen and (min-width:768px) {
   margin-right: 40px;

  }

 }

 .characteristics__title {

  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #FFFFFF;



 }



 .characteristics__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #1AB9FD;

 }

 .characteristics__icon {
  margin-right: 8px;


}

 .download__button {

  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  border-radius: 5px;
 }