// .testimonials.section {
//   background-color: #ffffff;
// }

.testimonials.container {
  text-align: center;
}

.testimonials__photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.testimonials__title {
  font-size: 20px;
  margin-bottom: 40px;
  padding: 0 20px;
  @media screen and(min-width:768px) {
    padding: 0;
    font-size: 24px;
  }
}

.testimonials__photo {
  margin-bottom: 20px;
}

.testimonials__name {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.22;
}

.testimonials__company {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 24px;
  @media screen and(min-width:768px) {
    margin-bottom: 40px;
  }
}

.testimonial__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 40px;
  @media screen and(min-width:768px) {
    font-size: 16px;
    line-height: 1.58;
  }
  @media screen and(min-width:1280px) {
    padding-left: 197px;
    padding-right: 197px;
  }
}

/* СSS for Slider*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 181px;
  height: 181px;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background: #000000;
}
// html,
// body {
//   position: relative;
//   height: 100%;
// }

// body {
//   background: #eee;
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//   font-size: 14px;
//   color: #000;
//   margin: 0;
//   padding: 0;
// }

// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: transparent;

//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }
