<div class="mobile-menu__container js-menu-container" id="mobile-menu">
  <a href="#" class="mobile-menu__logo">Mobileapp</a>
  <button class="menu-burger__btn menu-toggle js-close-menu">
    <svg class="menu-burger__open" width="40" height="40">
      <use></use>
    </svg>
  </button>

  <ul class="mobile-menu__list">
    <li class="mobile-menu__point">
      <a href="" class="mobile-menu__link condition">HOME</a>
    </li>
    <li class="mobile-menu__point">
      <a href="" class="mobile-menu__link">FEATURES</a>
    </li>
    <li class="mobile-menu__point">
      <a href="" class="mobile-menu__link">TEAM</a>
    </li>
    <li class="mobile-menu__point">
      <a href="" class="mobile-menu__link">TESTIMONIALS</a>
    </li>
    <li class="mobile-menu__point">
      <a href="" class="mobile-menu__link">CONTACT</a>
    </li>
  </ul>
</div>
