<section class="contact__us" id="contact">
  <div class="container contact__us-container">
    <h2 class="contact__us-titel">contact us</h2>

    <div class="contact__us-items">
      <form class="form">
        <div class="form__input">
          <label class="contact__us-label"
            ><span class="contact__us-signecher">name</span>
            <input
              class="subscribe_field"
              type="text"
              placeholder="Name"
              required
              minlength="3"
            />
          </label>

          <label class="contact__us-label">
            <span class="contact__us-signecher">email</span>
            <input
              class="subscribe_field"
              type="email"
              placeholder="E-mail"
              required
            />
          </label>
        </div>

        <label class="contact__us-label">
          <span class="contact__us-signecher">message</span>
          <textarea
            class="massage-fild"
            placeholder="Message"
            name="fild-for-comment"
            id="fild-for-comment"
          ></textarea>
        </label>

        <button class="btn" type="submit">
          <span class="btn__text">submit</span>>
        </button>
      </form>

      <div>
        <h3 class="titel">Get in touch with us</h3>

        <p class="description">
          Nunc urna est, tristique et varius at, pharetra nec enim. Quisque
          rhoncus lacus fringilla nulla sollicitudin tristique.
        </p>

        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="https://www.facebook.com">
              <svg class="social__icon" width="40px" height="40px">
                <use
                  class="icon-regular"
                  href="./images/icons.svg#icon-facebook-non-fill"
                ></use>

                <use
                  class="icon-hovered"
                  href="./images/icons.svg#icon-facebook-hovered"
                ></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="https://twitter.com">
              <svg class="social__icon" width="40px" height="40px">
                <use
                  class="icon-regular"
                  href="./images/icons.svg#icon-twitter-non-fill"
                ></use>

                <use
                  class="icon-hovered"
                  href="./images/icons.svg#icon-twitter-hovered"
                ></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="https://www.linkedin.com/">
              <svg class="social__icon" width="40px" height="40px">
                <use
                  class="icon-regular"
                  href="./images/icons.svg#icon-linkedin-non-fill"
                ></use>

                <use
                  class="icon-hovered"
                  href="./images/icons.svg#icon-linkedin-hovered"
                ></use>
              </svg>
            </a>
          </li>
        </ul>

        <ul class="contacts">
          <li class="contacts__item">
            <a class="contacts__link" href="tel:+1111111111">
              +xx-xxxx-xxxx-xx
            </a>
          </li>

          <li class="contacts__item">
            <a class="contacts__link" href="mailto:goIteens@gmail.com">
              goIteens@gmail.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
