<section class="features">
  <div class="container">
    <h1 class="features__title">KEY FEATURES</h1>
    <p class="features__text">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/features/img_lg.webp    1x,
          ./images/features/img_lg@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/features/img_lg.png    1x,
          ./images/features/img_lg@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/features/img_md.webp    1x,
          ./images/features/img_md@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/features/img_md.png    1x,
          ./images/features/img_md@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 480px)"
        srcset="
          ./images/features/img_sm.webp    1x,
          ./images/features/img_sm@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 480px)"
        srcset="
          ./images/features/img_sm.png    1x,
          ./images/features/img_sm@2x.png 2x
        "
        type="image/png"
      />
      <img
        src="./images/features/img_sm.png"
        alt="man at the laptop"
        width="208"
        height="406"
      />
    </picture>
    <ul class="features__list">
      <li class="features__item">
        <h2 class="features__item-title">Amet varius</h2>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__item">
        <h2 class="features__item-title">Amet varius</h2>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__item">
        <h2 class="features__item-title">Amet varius</h2>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__item">
        <h2 class="features__item-title">Amet varius</h2>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__item">
        <h2 class="features__item-title">Amet varius</h2>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
      <li class="features__item">
        <h2 class="features__item-title">Amet varius</h2>
        <p class="features__item-text">
          Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
          diam a iaculis malesuada
        </p>
      </li>
    </ul>
  </div>
</section>
