<section class="features section" id="features">
  <div class="features__container container">
    <h2 class="features__title">KEY FEATURES</h2>
    <p class="features__text">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <div class="features__thumb">
      <ul class="features__list features__list-one">
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
      </ul>

      <ul class="features__list features__two">
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
        <li class="features__item features__last">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">
            Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
            Vivamus diam a iaculis malesuada
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
