<header class="head">
  <div class="container head__container">
    <a href="#" class="head__logo">Mobileapp</a>
    <nav class="head__navigation">
      <ul class="head__list">
        <li class="head__link">
          <a href="">HOME</a>
        </li>
        <li class="head__link">
          <a href="">FEATURES</a>
        </li>
        <li class="head__link">
          <a href="">TEAM</a>
        </li>
        <li class="head__link">
          <a href="">TESTIMONIALS</a>
        </li>
        <li class="head__link">
          <a href="">CONTACT</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="head__btn js-open-menu">
      <svg class="menu-burger__open" width="40" height="40">
        <use></use>
      </svg>
    </button>
  </div>
</header>
