<section class="hero">
  <div class="hero__container">
    <h1 class="hero__tittle">Introducing Mobileapp</h1>
    <h2 class="hero__subtittle">Maecenas vitae tellus sapien. Prasent</h2>
    <ul class="hero__list">
      <li class="hero__link">semper scelerisque tristique a enim</li>
      <li class="hero__link">Integer ut mattis nulla, eget vehicula elit</li>
      <li class="hero__link">Prasent rutrum ac nunc et</li>
    </ul>
    <button type="download" class="hero__btn">
      <a class="hero__btn__text">Download</a>
    </button>
    <img
      class="hero__apps"
      srcset="
        ./images/hero/img-decor_md.png    1x,
        ./images/hero/img-decor_md@2x.png 2x
      "
      src="./images/hero/img-decor_md.png"
      alt="mobile app"
      width="362px"
      height="352px"
    />
    <img
      class="hero__apps-d"
      srcset="./images/hero/img_lg.png 1x, ./images/hero/img_lg@2x.png 2x"
      src="./images/hero/img_lg.png"
      alt="mobile app"
      width="895px"
      height="554px"
    />
    <img
      class="hero__grad"
      srcset="
        ./images/hero/img-grad__md.png    1x,
        ./images/hero/img-grad__md@2x.png 2x
      "
      src="./images/hero/img-grad__md.png"
      alt="mobile"
      width="439px"
      height="386px"
    />
    <img
      class="hero__mobile"
      srcset="./images/hero/img_md.png 1x, ./images/hero/img_md@2x.png 2x"
      src="./images/hero/img_md.png"
      alt="mobile"
      width="336px"
      height="382px"
    />
  </div>
</section>
