<section class="hero">
  <div class="container">
    <h1 class="hero__tittle">Introducing Mobileapp</h1>
    <h2 class="hero__subtittle">Maecenas vitae tellus sapien. Prasent</h2>
    <ul class="hero__list">
      <li class="hero__link">semper scelerisque tristique a enim</li>
      <li class="hero__link">Integer ut mattis nulla, eget vehicula elit</li>
      <li class="hero__link">Prasent rutrum ac nunc et</li>
    </ul>
    <button type="button" class="hero__btn">Download</button>
  </div>
</section>
