<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="features">
      <h1 class="features__title">KEY FEATURES</h1>
      <p class="features__text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
      <ul class="features__list">
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
            diam a iaculis malesuada</p>
        </li>
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
            diam a iaculis malesuada</p>
        </li>
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
            diam a iaculis malesuada</p>
        </li>
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
            diam a iaculis malesuada</p>
        </li>
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
            diam a iaculis malesuada</p>
        </li>
        <li class="features__item">
          <h2 class="features__item-title">Amet varius</h2>
          <p class="features__item-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
            diam a iaculis malesuada</p>
        </li>
      </ul>
  </body>
</html>
