<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn" data-modal-close>
      <svg class="modal__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-close-button"></use>
      </svg>
    </button>
    <h1 class="modal__title">Download</h1>
    <div class="downloads">
      <div class="download__first">
        <div class="download__icons">
          <svg class="download__icon" width="80" height="106">
            <use href="./images/icons.svg#icon-download-icon"></use>
          </svg>
        </div>
        <h2 class="download__title">Download free plan</h2>
        <ul class="download__list">
          <li class="download__item checkbox">
            <svg class="download__icon-one" width="14" height="14">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
            <p class="download__text">Donec posuere augue venenatis, aliquet</p>
          </li>
          <li class="download__item">
            <svg class="download__icon-one" width="14" height="14">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
            <p class="download__text">Donec posuere augue venenatis, aliquet</p>
          </li>
        </ul>
      </div>
      <div class="download">
        <div class="download__icons">
          <svg class="download__icon" width="80" height="106">
            <use href="./images/icons.svg#icon-download-icon"></use>
          </svg>
        </div>
        <h2 class="download__title">Download for 20$</h2>
        <ul class="download__list">
          <li class="download__item">
            <svg class="download__icon-one" width="14" height="14">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
            <p>Donec posuere augue venenatis, aliquet</p>
          </li>
          <li class="download__item">
            <svg class="download__icon-one" width="14" height="14">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
            <p class="download__text">Donec posuere augue venenatis, aliquet</p>
          </li>
          <li class="download__item">
            <svg class="download__icon-one" width="14" height="14">
              <use href="./images/icons.svg#icon-vector"></use>
            </svg>
            <p class="download__text">Donec posuere augue venenatis, aliquet</p>
          </li>
        </ul>
      </div>
    </div>
    <p class="download__description">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus
    </p>
    <div class="characteristics">
      <ul class="characteristics__list characteristics__border">
        <li class="characteristics__item">
          <svg class="characteristics__icon" width="28" height="28">
            <use href="./images/icons.svg#icon-app-name"></use>
          </svg>
          <div>
            <h3 class="characteristics__title">App name</h3>
            <p class="characteristics__text">Mobileapp.layout</p>
          </div>
        </li>
        <li class="characteristics__item">
          <svg class="characteristics__icon" width="28" height="28">
            <use href="./images/icons.svg#icon-license"></use>
          </svg>
          <div>
            <h3 class="characteristics__title">License</h3>
            <p class="characteristics__text">Free</p>
          </div>
        </li>
        <li class="characteristics__item">
          <svg class="characteristics__icon" width="28" height="28">
            <use href="./images/icons.svg#icon-author"></use>
          </svg>
          <div>
            <h3 class="characteristics__title">Author</h3>
            <p class="characteristics__text">Mobile Marrket App.com</p>
          </div>
        </li>
        <li class="characteristics__item">
          <svg class="characteristics__icon" width="28" height="28">
            <use href="./images/icons.svg#icon-data"></use>
          </svg>
          <div>
            <h3 class="characteristics__title">Data</h3>
            <p class="characteristics__text">21.02.2022</p>
          </div>
        </li>
      </ul>
      <ul class="characteristics__list">
        <li class="characteristics__item">
          <svg class="characteristics__icon" width="28" height="28">
            <use href="./images/icons.svg#icon-oc"></use>
          </svg>
          <div>
            <h3 class="characteristics__title">OC</h3>
            <p class="characteristics__text">Windows</p>
          </div>
        </li>
        <li class="characteristics__item">
          <svg class="characteristics__icon" width="28" height="28">
            <use href="./images/icons.svg#icon-language"></use>
          </svg>
          <div>
            <h3 class="characteristics__title">Language</h3>
            <p class="characteristics__text">English</p>
          </div>
        </li>
        <li class="characteristics__item">
          <svg class="characteristics__icon" width="28" height="28">
            <use href="./images/icons.svg#icon-size"></use>
          </svg>
          <div>
            <h3 class="characteristics__title">Size</h3>
            <p class="characteristics__text">4.16 MB</p>
          </div>
        </li>
        <li class="characteristics__item">
          <svg class="characteristics__icon" width="28" height="28">
            <use href="./images/icons.svg#icon-downloads"></use>
          </svg>
          <div>
            <h3 class="characteristics__title">Downloads</h3>
            <p class="characteristics__text">964</p>
          </div>
        </li>
      </ul>
    </div>
    <a class="download__button" href="" download>
      <span class="download__button-text">Download</span>
    </a>
  </div>
</div>
