<section class="section team" id="team">
  <div class="container team__container">
    <h2 class="team__title">OUR TEAM</h2>
    <p class="team__text">
      Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
      neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis.
      Praesent luctus mi quis nisi interdum eleifend.
    </p>
    <ul class="team__list">
      <li class="team__director">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/team/lg/img-1_lg.webp    1x,
              ./images/team/lg/img-1_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/team/lg/img-1_lg.jpg    1x,
              ./images/team/lg/img-1_lg@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-1_md.webp    1x,
              ./images/team/img-1_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-1_md.jpg    1x,
              ./images/team/img-1_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-1_sm.webp    1x,
              ./images/team/img-1_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-1_sm.jpg    1x,
              ./images/team/img-1_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="team__img"
            src="./images/team/img-1_lg.jpg"
            alt="директор"
            loading="lazy"
          />
        </picture>
        <h3 class="team__name">Jon Doe</h3>
        <p class="team__position">Product Designer</p>
      </li>
      <li class="team__lead-designer">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/team/lg/img-2_lg.webp    1x,
              ./images/team/lg/img-2_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/team/lg/img-2_lg.jpg    1x,
              ./images/team/lg/img-2_lg@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-2_md.webp    1x,
              ./images/team/img-2_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-2_md.jpg    1x,
              ./images/team/img-2_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-2_sm.webp    1x,
              ./images/team/img-2_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-2_sm.jpg    1x,
              ./images/team/img-2_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="team__img"
            src="./images/team/img-1_lg.jpg"
            alt="провідний дизайнер"
            loading="lazy"
          />
        </picture>
        <h3 class="team__name">Jane Doe</h3>
        <p class="team__position">Lead Designer</p>
      </li>
      <li class="team__developer">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/team/lg/img-3_lg.webp    1x,
              ./images/team/lg/img-3_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/team/lg/img-3_lg.jpg    1x,
              ./images/team/lg/img-3_lg@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-3_md.webp    1x,
              ./images/team/img-3_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-3_md.jpg    1x,
              ./images/team/img-3_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-3_sm.webp    1x,
              ./images/team/img-3_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-3_sm.jpg    1x,
              ./images/team/img-3_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="team__img"
            src="./images/team/img-1_lg.jpg"
            alt="провідний розробник"
            loading="lazy"
          />
        </picture>
        <h3 class="team__name">Jane Doe</h3>
        <p class="team__position">Lead Developer</p>
      </li>
      <li class="team__sr-designer">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/team/lg/img-4_lg.webp    1x,
              ./images/team/lg/img-4_lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/team/lg/img-4_lg.jpg    1x,
              ./images/team/lg/img-4_lg@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-4_md.webp    1x,
              ./images/team/img-4_md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/team/img-4_md.jpg    1x,
              ./images/team/img-4_md@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-4_sm.webp    1x,
              ./images/team/img-4_sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/team/img-4_sm.jpg    1x,
              ./images/team/img-4_sm@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="team__img"
            src="./images/team/img-1_lg.jpg"
            alt="старший дизайнер"
            loading="lazy"
          />
        </picture>
        <h3 class="team__name">Jon Doe</h3>
        <p class="team__position">Sr. UI Designer</p>
      </li>
    </ul>
  </div>
</section>
