<section class="testimonials section" id="testimonials">
  <div class="testimonials container">
    <h2 class="testimonials__title">WHAT OUR COSTUMER’S SAY</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="testimonials__photo"
            srcset="
              images/customer/customer.png    1x,
              images/customer/customer@2x.png 2x
            "
            src="images/customer/customer.png "
            alt="customer photo"
            width="181"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <h4 class="testimonials__company">Company Inc.</h4>
          <p class="testimonial__text">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="testimonials__photo"
            src="images/customer/belaruskii-ded.png"
            alt="photo-testimonials"
            width="181"
          />
          <h3 class="testimonials__name">александр лукашенко</h3>
          <h4 class="testimonials__company">Чык Чырык</h4>
          <p class="testimonial__text">
            А я сейчас вам покажу, откуда на Беларусь готовилось нападение. И
            если бы за шесть часов до операции не был нанесён превентивный удар
            по позициям — четыре позиции, я сейчас покажу карту, привёз — они бы
            атаковали наши войска, Беларуси и России, которые были на учениях.
            Поэтому не мы развязали эту войну, у нас совесть чиста.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="testimonials__photo"
            src="images/customer/ne-xochy-yezhat.png"
            alt="photo-testimonials"
            width="181"
          />
          <h3 class="testimonials__name">Не адекватная женщина</h3>
          <h4 class="testimonials__company">Вата в голове</h4>
          <p class="testimonial__text">
            Вообще не хочу уезжать из Крыма, из Алушты! Как здесь классно!
            Вообще… Я привыкла здесь, как в своем доме жили. Настолько все
            душевно! По-домашнему.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="testimonials__photo"
            src="images/customer/sasha-repeta.png"
            alt="photo-testimonials"
            width="181"
          />
          <h3 class="testimonials__name">Александр Репета</h3>
          <h4 class="testimonials__company">Гуру FrontEnd</h4>
          <p class="testimonial__text">
            С этими вопросами не ко мне, а к ментору. Это плюсы ???? (с.
            Александр Репета) Я чат не читаю, Вы там сами с собой общайтесь.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="testimonials__photo"
            src="images/customer/viktoriia.png"
            alt="photo-testimonials"
            width="181"
          />
          <h3 class="testimonials__name">Вiкторiя Шункар</h3>
          <h4 class="testimonials__company">
            Client Happiness Manager Bootcamp
          </h4>
          <p class="testimonial__text">
            Всiм доброго ранку! Вiдправте будь ласка в чат смайлик, як сьогоднi
            Ваш настрiй. Ми в GoIt вирiшили, що Ви можете проходити по 2 модуля
            в день. До Вас навчалась група, вони всi встигали. Але їх бiльше
            нiхто не бачив. Але у Вас все вийде. Передаю слово Ярославу.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="testimonials__photo"
            src="images/customer/yaroslav.png"
            alt="photo-testimonials"
            width="181"
          />
          <h3 class="testimonials__name">Ярослав Косиця</h3>
          <h4 class="testimonials__company">Ментор</h4>
          <p class="testimonial__text">
            Починаємо розбiр Вашего домашнього завдання. Так тут требо
            переробити, тут також, тут це зайве. А, вибачте, забалакався.
            Команда Brain Power Ви молодцi!
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
