<section class="testimonials section">
  <div class="testimonials container">
    <h2 class="testimonials__title">WHAT OUR COSTUMER’S SAY</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="testimonials__photo"
            src="images/customer/customer.png"
            alt="photo-testimonials"
            width="181"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <h4 class="testimonials__company">Company Inc.</h4>
          <p class="testimonial__text">
            Vestibulum placerat nisl quis justo venenatis, et lacinia nunc
            venenatis. semper libero nec sapien condimentum dignissim. Nunc ante
            ligula, tempor in tellus in, gravida vestibulum justo. Nulla
            facilisi. Nullam tristique eros quis nibh tempus, vel viverra dolor
            pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a
            tempus. Aenean gravida massa et ante pulvinar, id
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="testimonials__photo"
            src="images/customer/customer.png"
            alt="photo-testimonials"
            width="181"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <h4 class="testimonials__company">Company Inc.</h4>
          <p class="testimonial__text">
            А я сейчас вам покажу, откуда на Беларусь готовилось нападение. И
            если бы за шесть часов до операции не был нанесён превентивный удар
            по позициям — четыре позиции, я сейчас покажу карту, привёз — они бы
            атаковали наши войска, Беларуси и России, которые были на учениях.
            Поэтому не мы развязали эту войну, у нас совесть чиста.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            class="testimonials__photo"
            src="images/customer/customer.png"
            alt="photo-testimonials"
            width="181"
          />
          <h3 class="testimonials__name">Jon Doe</h3>
          <h4 class="testimonials__company">Company Inc.</h4>
          <p class="testimonial__text">
            Вообще не хочу уезжать из Крыма, из Алушты! Как здесь классно!
            Вообще… Я привыкла здесь, как в своем доме жили. Настолько все
            душевно! По-домашнему
          </p>
        </div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
