<section class="testimonials section">
  <div class="testimonials container">
    <h2 class="testimonials__title">WHAT OUR COSTUMER’S SAY</h2>
    <img
      src="./images/photo-testimonials.png"
      alt="photo-testimonials"
      width="181"
    />
    <h3>Jon Doe</h3>
    <p>Company Inc.</p>
    <p>
      Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis.
      semper libero nec sapien condimentum dignissim. Nunc ante ligula, tempor
      in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique
      eros quis nibh tempus, vel viverra dolor pretium. Nam et vehicula leo.
      Vivamus hendrerit sit amet ante a tempus. Aenean gravida massa et ante
      pulvinar, id
    </p>
  </div>
</section>
