<section class="video section">
  <div class="container video__container">
    <div class="video__content">
      <h2 class="video__title">WATCH THE VIDEO</h2>
      <p class="video__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        fringilla fringilla nisl congue congue. Maecenas nec condimentum libero,
        at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
        hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
      </p>
    </div>
    <ul>
      <li>
        <a href="">
          <svg>
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg>
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
